section#find {
  background-color: #fff;
  padding: 3rem 0;
}
.half {
  width: 50%;
}
section#find .flex {
  background-color:#0077c0;
  color: #fff;
  padding: 3rem 0;
}

section#find h3 {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 3px;
}

section#find h2 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.25;
  margin: 1rem 0;
}