section#steps {
  background-color: #fff;
  padding: 3rem 0;
}

section#steps .flex {
  align-items: center;
  gap: 10rem;
}

section#steps h2 {
  font-size: 3rem;
  font-weight: 700;
}

section#steps ol {
  margin-top: 3rem;
  list-style: none;
}

section#steps li {
  font-size: 1rem;
  font-weight: 400;
  margin: 2rem 0;
}

section#steps .counter {
  background-color:#c7eeff;
  color: #000;
  display: inline-flex;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  margin-right: 1.5rem;
  font-weight: 600;
}
